* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.containers {
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

body {
  font-family: 'Didot', serif;
}

.prune {
  fill: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.cls-1 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 9px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 30;
  width: 100%;
  margin-top: 25px;
}

header nav div img {
  width: 300px;
}

header nav div:not(:nth-child(3)) a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

header nav div:not(:nth-child(3)) a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

header .carousel-item .position-h1 {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .carousel-item .bg {
  height: 100vh;
  width: 100%;
}

header .carousel-item .one {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(/img/header/one.jpg);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/header/one.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .carousel-item .two {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(/img/header/two.jpg);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/header/two.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .carousel-item .three {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(/img/header/three.jpg);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/header/three.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .carousel-item h1 {
  width: 85%;
  text-align: center;
  font-weight: bold;
}

.about {
  background-color: #dedede;
  padding: 135px 0 195px 0;
  position: relative;
}

.about .salon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .salon__alignment {
  display: inline;
  float: left;
  margin: 0 20px 0 20px;
  width: 100%;
}

.about .salon__alignment--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.about .salon__alignment--text h6 {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 600;
  color: #000;
  stroke: #000;
}

.about .salon__alignment--text p {
  margin-top: 34px;
  font-size: 20px;
  line-height: 1.50;
  font-weight: 300;
  color: #000;
  stroke: #000;
}

.about .salon__alignment__foto__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0px;
}

.about .salon__alignment__foto__container--left {
  width: 60%;
  padding-right: 10px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
}

.about .salon__alignment__foto__container--left--img {
  background-image: url(/img/salon/salon_man.jpg);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 0px;
  padding-bottom: 135%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about .salon__alignment__foto__container--right {
  width: 40%;
  padding-left: 10px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
}

.about .salon__alignment__foto__container--right--car {
  position: relative;
  margin-top: 40%;
}

.about .salon__alignment__foto__container--right--car--img {
  background-image: url(/img/salon/salon_car.jpg);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 120%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about .salon__alignment__foto__container--right--cabin {
  position: relative;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 100%;
}

.about .salon__alignment__foto__container--right--cabin--img {
  background-image: url(/img/salon/salon.jpg);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  padding-bottom: 100%;
  width: 160%;
  right: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work {
  text-align: center;
  padding: 105px 0 90px 0;
}

.work h3 {
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 1.23;
  font-weight: 600;
  color: #000;
  stroke: #000;
}

.work p {
  max-width: 560px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.50;
  font-weight: 300;
  color: #000;
  stroke: #000;
}

.examples {
  padding-bottom: 135px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.examples__brand {
  padding: 0px 20px 0px 20px;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: initial;
  width: 50%;
}

.examples__brand:nth-child(-n+2) {
  margin-bottom: 90px;
}

.examples__brand a {
  text-decoration: none;
  color: #000;
  stroke: #000;
  margin-bottom: 20px;
}

.examples__brand a div {
  margin-bottom: 20px;
  padding-bottom: 56%;
}

.examples__brand a .bmw {
  background: url(/img/work/bmw.jpg);
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.examples__brand a .bmw:hover {
  background: url(/img/work/bmw_h.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.examples__brand a .pontiac {
  background: url(/img/work/pontiac.jpg);
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.examples__brand a .pontiac:hover {
  background: url(/img/work/pontiac_h.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.examples__brand a .jaguar {
  background: url(/img/work/jaguar.jpg);
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.examples__brand a .jaguar:hover {
  background: url(/img/work/jaguar_h.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.examples__brand a .porshe {
  background: url(/img/work/porshe.jpg);
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.examples__brand a .porshe:hover {
  background: url(/img/work/porshe_h.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.examples__brand a h4 {
  font-size: 24px;
  line-height: 1.35;
  font-weight: 700;
}

.examples__brand a p {
  font-family: 'Roboto',Arial,sans-serif;
  margin: 8px 0 0 0;
  font-size: 14px;
  line-height: 1.50;
  font-weight: 300;
}

.services {
  background: #dedede;
  position: relative;
}

.services__text {
  padding: 135px 0 75px 0;
  text-align: center;
}

.services__text h3 {
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 1.23;
  font-weight: 600;
  color: #000;
  stroke: #000;
}

.services__text p {
  max-width: 560px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.50;
  font-weight: 300;
  color: #000;
  stroke: #000;
}

.services__text p a {
  text-decoration: none;
  font-size: 24px;
  line-height: 1.50;
  font-weight: 300;
  color: #000;
  stroke: #000;
}

.services__info {
  max-width: 760px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.services__info div:not(:last-child) {
  margin-bottom: 4px;
}

.services__info div .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 1.35;
  font-weight: 600;
}

.services__info div .accordion:after {
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.services__info div .accordion svg {
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 50%;
}

.services__info div .active,
.services__info div .accordion:hover {
  background-color: #fff;
  color: #000;
}

.services__info div .active svg,
.services__info div .accordion:hover svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 50%;
  background-color: red;
  fill: #ccc;
}

.services__info div .panel {
  padding: 0 18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  margin-bottom: 0;
}

.services__info div .panel li {
  font-size: 16px;
  line-height: 1.50;
  font-weight: 300;
}

.services__button {
  margin: 0 auto;
  display: block;
  padding-bottom: 165px;
  text-align: center;
}

.services__button a {
  background-color: #d90000;
  padding: 18px 60px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.services__button a:hover {
  background-color: #bf0000;
}

.contact__text {
  padding-top: 120px;
  margin-bottom: 105px;
  text-align: center;
}

.contact__text h3 {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 600;
  margin-bottom: 40px;
  color: #000;
  stroke: #000;
}

.contact__text p {
  max-width: 560px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.50;
  font-weight: 300;
  color: #000;
  stroke: #000;
}

.contact__text a {
  text-decoration: none;
  font-size: 24px;
  line-height: 1.50;
  font-weight: 300;
  color: #000;
  stroke: #000;
}

.contact__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 120px;
}

.contact__icon div {
  width: 33%;
  text-align: center;
  padding: 0 25px;
  height: auto;
}

.contact__icon div svg {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
  padding-top: 0;
  color: #000;
  stroke: #000;
}

.contact__icon div h5 {
  font-size: 24px;
  line-height: 1.35;
  font-weight: 600;
  padding-bottom: 20px;
  color: #000;
  stroke: #000;
}

.contact__icon div p {
  font-size: 18px;
  line-height: 1.50;
  font-weight: 300;
  color: #000;
  stroke: #000;
}

.map {
  height: 500px;
}

footer section {
  background: #dedede;
}

footer section .info {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer section .info__copy p {
  margin: 0;
  font-size: 18px;
  line-height: 1.50;
  font-weight: 300;
  color: #000;
  stroke: #000;
}

footer section .info__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer section .info__social a {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
}

footer section .info__social a:hover {
  fill: #FFFFFF;
  border-radius: 50%;
}

footer section .info__social a:not(:last-child) {
  margin-right: 10px;
}

footer section .info__social a:nth-last-child(4):hover {
  background: #3d548e;
}

footer section .info__social a:nth-last-child(3):hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

footer section .info__social a:nth-last-child(2):hover {
  background: #e61a23;
}

footer section .info__social a:nth-last-child(1):hover {
  background: #1c9cea;
}

@media screen and (max-width: 768px) {
  .containers {
    padding: 0 20px;
  }
  header nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header nav div:not(:nth-child(3)) {
    display: none;
  }
  header nav div:nth-child(3) {
    margin-left: 6%;
  }
  header nav div a img {
    width: 150px;
    margin-top: 20px;
  }
  header .bg h1 {
    width: 70%;
    font-size: x-large;
  }
  main .about .salon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about .salon__alignment {
    margin: 0;
  }
  main .about .salon__alignment--text {
    margin-bottom: 40px;
  }
  main .about .salon__alignment__foto__container--left {
    width: 50%;
  }
  main .about .salon__alignment__foto__container--right {
    width: 50%;
  }
  main .about .salon__alignment__foto__container--right--car {
    margin-top: 0;
  }
  main .about .salon__alignment__foto__container--right--car--img {
    padding-bottom: 135%;
  }
  main .about .salon__alignment__foto__container--right--cabin--img {
    width: 206%;
    right: 0%;
  }
  main .work p {
    max-width: 100%;
  }
  main .contact__icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .contact__icon div {
    width: 100%;
  }
  main .contact__icon div:not(:last-child) {
    margin-bottom: 80px;
  }
  main .contact__icon div h5 {
    padding-bottom: 0;
  }
  footer section .info__copy p {
    font-size: 85%;
  }
}

@media screen and (max-width: 426px) {
  .about {
    padding-bottom: 60px;
  }
  .about .salon__alignment__foto__container--right--cabin--img {
    width: 211%;
  }
  .work p {
    font-size: 19px;
  }
  .services__text {
    padding-top: 40px;
  }
  .services__text p {
    font-size: 19px;
  }
  .services__text p a {
    font-size: 19px;
  }
  .contact__text p, .contact__text a {
    font-size: 19px;
  }
  .examples {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 60px;
  }
  .examples__brand {
    width: 100%;
  }
  .examples__brand:not(:last-child) {
    margin-bottom: 90px;
  }
  .map {
    height: 400px;
  }
}

@media screen and (max-width: 375px) {
  .map {
    height: 320px;
  }
}
/*# sourceMappingURL=style.css.map */